# Missing Data

--------


## What Null/NA/nan objects look like:

In [127]:
import numpy as np
import pandas as pd

In [ ]:
np.nan

In [ ]:
pd.NA

In [ ]:
pd.NaT

----
------
## Note! Typical comparisons should be avoided with Missing Values

In [ ]:
np.nan == np.nan

In [ ]:
np.nan in [np.nan]

In [ ]:
np.nan is np.nan

In [ ]:
pd.NA == pd.NA

-------

## Data

In [135]:
df = pd.read_csv('movie_scores.csv')

In [ ]:
df

## Checking and Selecting for Null Values

In [ ]:
df

In [ ]:
df.isnull()

In [ ]:
df.notnull()

In [ ]:
df['first_name']

In [ ]:
df[df['first_name'].notnull()]

In [ ]:
df[(df['pre_movie_score'].isnull()) & df['sex'].notnull()]

## Drop Data

In [ ]:
df

In [ ]:
help(df.dropna)

In [ ]:
df.dropna()

In [ ]:
df.dropna(thresh=1)

In [ ]:
df.dropna(axis=1)

In [ ]:
df.dropna(thresh=4,axis=1)

## Fill Data

In [ ]:
df

In [ ]:
df.fillna("NEW VALUE!")

In [ ]:
df['first_name'].fillna("Empty")

In [152]:
df['first_name'] = df['first_name'].fillna("Empty")

In [ ]:
df

In [ ]:
df['pre_movie_score'].mean()

In [ ]:
df['pre_movie_score'].fillna(df['pre_movie_score'].mean())

In [ ]:
df.fillna(df.mean())